<h2>Registration Page</h2>

<form method="get" action="Result">
    <p>Username: </p><input name="userName" required />
    <br />
    <p>Email: </p><input name="email" type="email" required />
    <br />
    <p>Password: </p><input name="password" type="password" required />
    <br />
    <p>Age: </p><input name="Age" type="number" min="6" step="1" required/>
    <br />
    <input type="submit" />
</form>